@media(max-width:768px){
    header nav{
        display: none;
    }
    .menu-bar {
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    .menu-line {
        display: block;
        width: 100%;
        height: 3px;
        background-color:white;
        position: relative;
        transition: .4s;
    }
    .menu-line::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: -10px;
        background-color: white;
        transition: .4s;
    }
    .menu-line::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 10px;
        background-color: white;
        transition: .4s;
    }
}

@media (max-width:576px) {
    .hero__wrapper {
   display: unset; 
    }
    .hero__wrapper .btn1 {
    margin-bottom: 30px;
    }
    
}

@media(max-width:500px){
   .site-ads-header-hero{
    display: none;
   } 
   header{
    margin-top: 20px;
   }
}
@media(max-width:320px){
    .header-logo span{
        font-size: 20px;
    }
}

@media (max-width:1320px) {
    .main-karta__karta {
        max-width: unset;
        width: 100%;
        margin: auto;
    }    
}

@media (max-width:992px)  {
    .footer-logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width:576px) {
    .hero__wrapper .btn1 {
        margin: auto;
        margin-bottom: 30px;
    }

    .hero__wrapper .btn2 {
        margin: auto;
    }
}


@media (max-width:412px) {
    .footer-logo {
        flex-direction: column;
        gap: 20px;
       
    }

    .hero h1 {
        font-size: 60px;
     }
}






